body {
  font-family: 'lora', serif;
}

hr {
  width: 80%;
  margin: auto;
}

/* Nav */

.nav-link {
  color: gray;
}

.nav-link:hover {
  color: #246963;
}

/* Home CSS */

.d-flex {
  flex-direction: column;
}

.profile-img {
  width: 100%;
  height: 100%;
}

#text-hello, #text-im, #text-tegan {
  text-decoration: none;
  font-size: 5rem;
  color: black;
  font-weight: 600;
  width: fit-content;
}

#text-im, #text-tegan {
  color: #246963;
}

#text-hello:hover span {display:none}
#text-hello:hover:before {content:"About"}

#text-im:hover span {display:none}
#text-im:hover:before {content:"Work"}

#text-tegan:hover span {display:none}
#text-tegan:hover:before {content:"Contact"}

.vertical-text {
  writing-mode: vertical-rl;
  margin: 0;
  letter-spacing: 2px;
}

/* About Me  */

.about-me-img {
  width: 100%;
}
