.d-flex {
  flex-direction: column;
}

.profile-img {
  /* border: solid black 5px; */
  width: 100%;
  height: 100%;
}

#text-hello, #text-im, #text-tegan {
  text-decoration: none;
  font-size: 5rem;
  color: black;
  font-family: 'lora', serif;
  font-weight: 600;
}

#text-im, #text-tegan {
  color: #246963;
}

#text-hello:hover span {display:none}
#text-hello:hover:before {content:"About"}

#text-im:hover span {display:none}
#text-im:hover:before {content:"Work"}

#text-tegan:hover span {display:none}
#text-tegan:hover:before {content:"Contact"}
